/Week1/nbproject/private/
/Week1/build/
/Week2/nbproject/private/
/Week2/build/
/LocalClassExample/nbproject/private/
/LocalClassExample/build/
/Try/nbproject/private/
/Try/build/
/TradingSystem/nbproject/private/
/TradingSystem/build/
/try/nbproject/private/
/try/build/
/Friday/nbproject/private/
/Friday/build/
/My_class/nbproject/private/
/My_class/build/
/Week2/dist/